@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@theme{
    --font-grotesk: Host Grotesk, 'sans-serif';
    --font-playfair: 'Playfair Display', 'serif';

    --color-primary: #F56476;
}
@import "tailwindcss";