@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
 
    --font-grotesk: Host Grotesk, "sans-serif";
    --font-playfair: "Playfair Display", "serif";
    --color-primary: #f56476;
 
}

/* Hide scrollbar but keep scrolling functionality */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}
